<div class="panel-body">    
    <h1 class="text center">Admin Dashboard</h1>
    <div class="row">
        <div class="panel panel-default col-md-4">
            <div class="panel-heading black-panel-heading">
                <h4>Ticket Amounts</h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Open</strong>: <%= @open.size %>
                </li>
                <li class="list-group-item">
                    <strong>Contact Customer</strong>: <%= @cc.size %>
                </li>
                <li class="list-group-item">
                    <strong>Pending Customer Response</strong>: <%= @pcr.size %>
                </li>
                <li class="list-group-item">
                    <strong>In Progress</strong>: <%= @progress.size %>
                </li>
            </ul>
        </div>
        <div class="panel panel-default col-md-4">
            <div class="panel-heading black-panel-heading">
                <h4>Ticket Amounts</h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Open</strong>: <%= @open.size %>
                </li>
                <li class="list-group-item">
                    <strong>Contact Customer</strong>: <%= @cc.size %>
                </li>
                <li class="list-group-item">
                    <strong>Pending Customer Response</strong>: <%= @pcr.size %>
                </li>
                <li class="list-group-item">
                    <strong>In Progress</strong>: <%= @progress.size %>
                </li>
            </ul>
        </div>
        <div class="panel panel-default col-md-4">
            <div class="panel-heading black-panel-heading">
                <h4>Ticket Amounts</h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Open</strong>: <%= @open.size %>
                </li>
                <li class="list-group-item">
                    <strong>Contact Customer</strong>: <%= @cc.size %>
                </li>
                <li class="list-group-item">
                    <strong>Pending Customer Response</strong>: <%= @pcr.size %>
                </li>
                <li class="list-group-item">
                    <strong>In Progress</strong>: <%= @progress.size %>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading black-panel-heading">
                <h5 class="text-center">Assigned Tickets</h5>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Ticket</th>
                        <th>Status</th>
                        <th>Opened</th>
                        <th>Updated</th>
                        <th>Type</th>
                        <th>Priority</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                <% @tickets.each do |ticket| %>
                    <tr class="<%= 'danger' if ticket.priority > 4 %>">
                        <td>
                            <%= link_to ticket.title, ticket %>
                            <a href="/tickets/<%= ticket.id %>/edit">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td><%= ticket.status.titleize %></td>
                        <td><%= ticket.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%D at %l:%M%p") %></td>
                        <td><%= ticket.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%D at %l:%M%p") %></td>
                        <td><%= ticket.issue_type.capitalize %></td>
                        <td><%= ticket.priority %></td>
                        <td><%= ticket.user.first_name %> <%= ticket.user.last_name %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </row>
</div>