<div class="panel-body">    
    <div class="row">
        <div class="panel panel-default col-md-4">
            <div class="panel-heading black-panel-heading">
                <h4>Ticket Amounts</h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>
                        <a href="/tickets?utf8=✓&search=open">
                            Open
                        </a>
                    </strong>: <%= @open.size %>
                </li>
                <li class="list-group-item">
                    <strong>
                        <a href="/tickets?utf8=✓&search=contact+customer">
                            Contact Customer
                        </a>
                    </strong>: <%= @cc.size %>
                </li>
                <li class="list-group-item">
                    <strong>
                        <a href="/tickets?utf8=✓&search=pending+customer+response">
                            Pending Customer Response
                        </a>
                    </strong>: <%= @pcr.size %>
                </li>
                <li class="list-group-item">
                    <strong>
                        <a href="/tickets?utf8=✓&search=in+progress">
                            In Progress
                        </a>
                    </strong>: <%= @progress.size %>
                </li>
            </ul>
        </div>
        <div class="panel panel-default col-md-4 contact-customer">
            <div class="panel-heading black-panel-heading">
                <h4>Contact Customer <small>(<%= @cc.size %>)</small></h4>
            </div>
            <ul class="list-group">
                <% @cc.each do |t| %>
                <li class="list-group-item">
                    <%= link_to t.title, t %>
                    <a href="/tickets/<%= t.id %>/edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </li>
                <% end %>
            </ul>
        </div>
        <div class="panel panel-default col-md-4 contact-customer">
            <div class="panel-heading black-panel-heading">
                <h4>Customer Responded <small>(<%= @mypcr.size %>)</small></h4>
            </div>
            <ul class="list-group">
                <% @mypcr.each do |t| %>
                <li class="list-group-item">
                    <%= link_to t.title, t %>
                    <a href="/tickets/<%= t.id %>/edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading black-panel-heading">
                <h5 class="text-center">Assigned Tickets</h5>
            </div>
            <%= render 'layouts/detailed_ticket_table' %>
        </div>
    </row>
</div>