<div class="panel-body">    
    <h1 class="text center">Admin Dashboard</h1>
    <div class="row">
        <div class="panel panel-default col-md-4">
            <div class="panel-heading black-panel-heading">
                <h4>Ticket Amounts</h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Open</strong>: <%= @open.size %>
                </li>
                <li class="list-group-item">
                    <strong>Contact Customer</strong>: <%= @cc.size %>
                </li>
                <li class="list-group-item">
                    <strong>Pending Customer Response</strong>: <%= @pcr.size %>
                </li>
                <li class="list-group-item">
                    <strong>In Progress</strong>: <%= @progress.size %>
                </li>
            </ul>
        </div>
        <div class="panel panel-default col-md-4">
            <div class="panel-heading black-panel-heading">
                <h4>Ticket Amounts</h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Open</strong>: <%= @open.size %>
                </li>
                <li class="list-group-item">
                    <strong>Contact Customer</strong>: <%= @cc.size %>
                </li>
                <li class="list-group-item">
                    <strong>Pending Customer Response</strong>: <%= @pcr.size %>
                </li>
                <li class="list-group-item">
                    <strong>In Progress</strong>: <%= @progress.size %>
                </li>
            </ul>
        </div>
        <div class="panel panel-default col-md-4">
            <div class="panel-heading black-panel-heading">
                <h4>Ticket Amounts</h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Open</strong>: <%= @open.size %>
                </li>
                <li class="list-group-item">
                    <strong>Contact Customer</strong>: <%= @cc.size %>
                </li>
                <li class="list-group-item">
                    <strong>Pending Customer Response</strong>: <%= @pcr.size %>
                </li>
                <li class="list-group-item">
                    <strong>In Progress</strong>: <%= @progress.size %>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading black-panel-heading">
                <h5 class="text-center">Assigned Tickets</h5>
            </div>
            <%= render 'layouts/detailed_ticket_table' %>
        </div>
    </row>
</div>