<div class="panel-body">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading black-panel-heading">
                <h5 class="text-center">My Tickets</h5>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Ticket</th>
                        <th>Status</th>
                        <th>Opened</th>
                        <th>Updated</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                <% @tickets.each do |ticket| %>
                    <tr>
                        <td>
                            <%= link_to ticket.title, ticket %>
                            <a href="/tickets/<%= ticket.id %>/edit">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td><%= ticket.status.titleize %></td>
                        <td><%= ticket.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%D at %l:%M%p") %></td>
                        <td><%= ticket.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%D at %l:%M%p") %></td>
                        <td><%= ticket.issue_type.capitalize %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </row>
</div>