<div class="panel panel-default">
    <div class="panel-heading black-panel-heading">
        <h3 class="text-center">Group Manager</h3>
    </div>
    <div class="panel-body">
      <div class="row">
          <%= form_for(GroupMembership.new) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="form-group col-md-4">
                <div class="form-group">
                    <%= f.label :group_id, "Group to add to" %>
                    <%= f.select :group_id, @groupopts, {}, { class: "form-control" }%>
                </div>
                <div class="form-group">
                    <%= f.label :user_id, "Users to add" %>
                    <%= f.select :user_id, @useropts, { :selected => :user_ids,:include_blank => false }, { class: "form-control", multiple: true, size: 10 }%>
                </div>
                <%= f.submit 'Add Users', class: "btn btn-primary form-control" %>
            <% end %>
        </div> 
    </div>
</div>    
    