 <div class="col-md-10 col-md-offset-1">   
    <div class="well">
        <%= form_for(@ticket) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="row">
                <div class="form-group col-md-12">
                    <%= f.label :title %>
                    <%= f.text_field :title, class: 'form-control', :disabled => true  %>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <% typeopts = Group.all.map{|g| [g.name.capitalize, g.name]} %>
                    <% typeopts.delete(['Admin', 'admin']) unless current_user.role != 'customer' %>
                    <%= f.label :issue_type %>
                    <%= f.select :issue_type, typeopts, {}, { class: "form-control", :disabled => true }%>
                </div>

                <div class="form-group col-md-4">
                    <% list = { "Open" => "open", "Customer Responded" => "customer responded", "Closed" => "closed"}%>
                    <%= f.label :status %>
                    <%= f.select :status, list, {}, { class: "form-control", :disabled => true }%>
                    <% if @ticket.status == 'pending customer response' or @ticket.status == 'contact customer' %>
                        <%= f.hidden_field :status, :value => 'customer responded' %>
                    <% end %>
                </div>
            </div>

            <%= f.fields_for :issues, @ticket.issues.build do |n| %>
                <div class="form-group">
                    <%= n.label :description, "Update Issue" %>
                    <%= n.text_area :description, class: 'tinymce' %>
                    <%= n.hidden_field :user_id, :value => current_user.id %>
                </div>
            <% end %>
            <%= tinymce %>
            <%= f.submit 'Submit Edit', class: "btn btn-primary form-control" %>
        <% end %>
    </div>
    <br>
    <% @ticket.issues.order('created_at DESC').each do |issue| %>
        <% if issue.id != nil %>
            <div class="well">
                <div class="row">
                    <div class="col-md-4">
                        <h4>
                            <%= issue.user.first_name %> <%= issue.user.last_name %>
                            <small>
                                <%= issue.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%D at %l:%M%p") %>
                            </small>
                        </h4>
                    </div>
                </div>
                <%= simple_format(issue.description) %>
            </div>
        <% end %>
    <% end %>
</div>