<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			<a href="/" class="navbar-brand">
				Issue Tracker
			</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
		<% if current_user %>
			<% if current_user.role != "customer" %>
				<%= form_tag tickets_path, :method => 'get', :class => 'navbar-form navbar-left', 
					:role => 'search' do %>
					<div class="form-group">
						<%= text_field_tag :search, params[:search], :class => 'form-control', placeholder: 'Search for tickets' %>
						<%= submit_tag "Search", :name => nil, :class => 'btn btn-default' %>
					</div>
				<% end %>
			<% end %>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Create New Ticket", new_ticket_path %></li>
				<% if current_user.role != 'customer' %>
					<li><%= link_to 'Users Directory', users_path %></li>
				<% end %>
				<% if current_user.role == 'admin' %>
					<li><%= link_to 'Manage User Groups', dashboard_admin_managegroups_path %></li>
				<% end %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %> <%= current_user.last_name %><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/users/<%= current_user.id %>/edit">Edit</a></li>
						<li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
					</ul>
				</li>
			</ul>
		<% end %>
		</div> 
	</div>
</nav>